.astro--container {
    background-color: #7b36a0;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0px;
    color: whitesmoke;
    box-shadow: #c079e6 0px 5px 10px 0px;
}

.astro--name, .astro--craft {
    margin: 5px 2px;
    padding: 2px;
}